<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>434800023200-d9avikhl83euq9r1lncn3q973ali8pu0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.434800023200-d9avikhl83euq9r1lncn3q973ali8pu0</string>
	<key>API_KEY</key>
	<string>AIzaSyCkRG_LGCuhqmM8z9HWY-lr0bGAgiN-9PU</string>
	<key>GCM_SENDER_ID</key>
	<string>434800023200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.sohan.flashChat</string>
	<key>PROJECT_ID</key>
	<string>chat-app-cd494</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-cd494.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:434800023200:ios:f372e7dc5329b923</string>
	<key>DATABASE_URL</key>
	<string>https://chat-app-cd494.firebaseio.com</string>
</dict>
</plist>